.js-nametag {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.js-nametag:nth-child(1) {
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
}


.js-nametag:nth-child(2) {
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}


@keyframes fade {
    0%,50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




button {
    background-color: #808080; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    font-family:'Times New Roman', Times, serif;
}


.title {
    font-size: 5vw;
}


.main_content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 200px;
}